#root {
  height: 100%;
}

html, body, #app, #app>div {
  height: 100%
}

body {
  background-color: #687084;
}

/* In summary, align-items is used to align individual flex items along the cross-axis, 
while align-content is used to align the entire group of flex items along the cross-axis,
 when there is extra space in the flex container */
 
.app {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  /* background-color: bisque; */
}

.box1 {
  width: 50px;
  height: 50px;
  align-self: center;
  background-color: red;
}

.box2 {
  width: 50px;
  height: 50px;
  background-color: green;
}

.box3 {
  display: flex;
  height: 50px;
  background-color: yellow;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
